<head>
  <title>Newsletter Subscription System</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
  <link rel="stylesheet" href="/app.css">
  <link rel="icon" type="image/png" href="https://img.icons8.com/doodle/48/000000/newsletter.png"/>
  
</head>

<body>
  <form action='/signout'>
    <button id=bt1>Sign-out</button>
  </form>
  <div class="">
  
  <form method="POST" action='/addnews'>
    <input type="text" class="form" name="n_name" placeholder="Enter Newsletter Name" required>
    <input type="text" class="form" name="description" placeholder="Newsletter description" required>
    <button type="submit">Add Newsletter NOW</button>  
  </form>
    
</div>
</body>